/* Corps main style */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Main title */
h1 {
    color: #2c3e50;
    margin-top: 40px;
}

/* Paragraphs */
p {
    font-size: 18px;
    margin: 20px auto;
    width: 60%;           /* Limited width for better readability */
}

/* Buttons */
button:not(.logout-btn) {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;         /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Effet au survol */
button:not(.logout-btn):hover {
    background-color: #2980b9;
}

/*  Form container */
form {
    margin: 40px auto;
    padding: 20px;
    width: 300px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Field "input type=file" */
input[type="file"] {
    display: block;
    margin: 10px auto 20px auto;
    font-size: 14px;
}

/* Button "Upload" */
input[type="submit"] {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #1e8449;
}

button.logout-btn {
    background-color: #e74c3c;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button.logout-btn:hover {
    background-color: #c0392b;
}

/* Header: text on the left, button on the right */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


.btn-back {
    background-color: #e74c3c;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-back:hover {
    background-color: #c0392b;
}


/* List */
ul {
    list-style-type: none;
    padding-left: 0;
    margin: 20px;
    text-align: left;
}

/* List elements */
li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    width: fit-content;
}

/* Link in list */
li a {
    margin-left: 10px;
    text-decoration: none;
    color: #3498db;
}

li a:hover {
    text-decoration: underline;
}
