<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des fichiers</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="header">
        <h1>📂 Fichiers disponibles</h1>
        <a href="/" class="btn-retour">🏠 Retour à l’accueil</a>
    </div>
    <ul>
        {% for id, filename, uploaded_at in files %}
            <li>
                {{ filename }} (ajouté le {{ uploaded_at }} UTC)
                — <a href="{{ url_for('download', file_id=id) }}">⬇️ Télécharger</a>
                — <a href="{{ url_for('delete', file_id=id) }}" style="color:red;">❌ Supprimer</a>
            </li>
        {% endfor %}
    </ul>

</body>
</html>