<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Bienvenue sur mon site</h1>
    <p>Ce site vous permet d’uploader des fichiers et de les consulter plus tard.</p>

    <div style="margin-top:20px;">
        <form action="/upload">
            <button type="submit">Uploader un fichier</button>
        </form>

        <form action="/files">
            <button type="submit">Voir les fichiers</button>
        </form>
    </div>
</body>
</html>
