<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome on my Drive</h1>
    <p>This site allows you to upload files and view them later.</p>

    <div style="margin-top:20px;">
        <form action="/upload">
            <button type="submit">Upload a file</button>
        </form>

        <form action="/files">
            <button type="submit">See files</button>
        </form>
    </div>

    <div class="header">
        <nav>
        <form method="POST" action="{{ url_for('logout') }}" style="display:inline;">
            <button type="submit" class="logout-btn">⏻ Logout</button>
        </form>
    </nav>
    </div>
    
</form>

</body>
</html>
