<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Create an account</h1>
    <p>Please enter your credentials.</p>

    {% if message_register %}
        <p style="color:rgb(200, 0, 0); font-weight: bold; white-space: pre-line;">
            {{ message_register }}
        </p>
    {% endif %}

    <form method="POST" action="{{ url_for('register') }}">
        <label for="username">User :</label><br>
        <input type="text" id="username" name="username" value="{{ username or '' }}" required><br><br>

        <label for="password">Password :</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <label for="password">Confirm Password:</label><br>
        <input type="password" id="password_c" name="password_c" required><br><br>

        <button type="submit">Create account</button>
    </form>

</body>
</html>
